

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f4f6fc;
}

.main-container{
    display: block;
    width: 100%;
    margin: 0;
    
}

.container{
    padding: 0;
    display: block;
    float: left;
    margin: 0 auto;
    max-width: 1198px;
    width: 100%;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.logo img {
    display: block;
    margin-left: 201%;
    margin-right: auto;
 }

header{
    display: block;
    float: left;
    padding: 10px 0;
    width: 101.5%;
    border-bottom: 1px solid #FFA07A;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}
section {
    display: block;
    font-size: 20px;
    float: left;
    padding: 20px 0;
    width: 101.5%;

}

section nav {
    display: block;
    float: left;
    width: 30%;

}

.first-part p {
    display: block;
    float: right;
    width: 97%;


}

.second-part p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 400px;
    margin-inline-end: 0px;
}

.logo {
    width: 250px;
    cursor: pointer;
    height: 260px;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.9rem;
    line-height: 30px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    }

nav li {
    background-color:	#d6f3a8 ;
    margin: 5px 0;
    padding: 10px;
}

nav ul li a:hover{
    color: #FFBF9C;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    color: #2F4125;
    align-items: left;
    padding: 1.5rem;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    color: #000212;
    padding: 1.5rem;

}

article p{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    text-align: left;
    padding: 1.5rem;
    margin-bottom: 10px;
    line-height: 2rem;

}

article img {
    float: left; 
    margin-left: 0; 
    margin-right: 10px; 
    margin-bottom: 5px;
}

img{
    max-width: 100%;
    height: auto;
}

section article{
    display: block;
    float: left;
    width: 70%;
    text-align: left;

}

footer{
    background-color: #000212;
    color: white;
    display: block;
    float: left;
    width: 101.5%;
    padding: 10px 0;
}

footer p {
    color: beige;
    font-size: 1.6rem;
}

footer small {
    font-size: 140%;
    display: block;
}
.cog-abuse {
    visibility: hidden !important;
}

.cog-branding--minimal span{
    visibility: hidden !important;
}

.cognito{
    display: block;
    float: left;
    width: 100%;
    text-align: left;
}

.el-input {
    width: 100%;
}

#tenho-interesse {
    background-color: #d6f3a8;    
    width: 101.5%;

}

.container h1 {
    color: #000212;
    display: block;
    float: left;
    width: 70%;
    text-align: left;
}

.container p {
    color: #000212;
    display: block;
    float: left;
    width: 70%;
    text-align: left;
}

@media(max-width:420px) {
    section nav,
    section article {
        width: 100%;
    }

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}

#banner {
    background-image: url('https://static.clubedaanamariabraga.com.br/wp-content/uploads/2018/10/bolsa-croche.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 70vh;

}

.legenda-container {
    width: 30vw;
    float: right;
    margin: 10vh 10vh 0 0; 
   

}

.legenda {
    background-color: rgb(197, 255, 183);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5rem;
    
}

.legenda h5,
.legenda h4 {
    color:#FFA07A;
    line-height: 150%;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    text-align: left;
}

.button-cta {
    border-radius: 25px;
    display: inline;
    background-color: #2F4125;
    color: #f4f6fc;
    font-size: 1.5rem;
    box-shadow: 2px 2px 4px #ffb188;
    padding: 10px 15px;
    width: auto;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#saiba-mais {
    background-color: #FFBF9C;
    padding: 40px 0;
}

#saiba-mais p,
#saiba-mais img {
    width: 45%;
    display: block;
    float: left;
    padding: 20px;
}

dl {
    margin: 70px 10px;
    padding: 2rem
}

dt {
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    text-align: left;
    
}

dd {
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 1rem;
    height: 2rem;

}

.description img {
    width: 80vw;
    height: 60vh;
}

/* nav ul li {
    display: block;
    list-style: none;
    float: left;
    width: 30%;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    
} */

/* 
section {
    display: block;
    float: left;
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
} */

/* nav{
    width: 100%;
    margin: auto;
    padding: 7px 0;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between; */

/* } */

/* nav li {
    margin: 5px 20px 5px 0;
    padding: 7px;
} */



