
* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f4f6fc;
}

.main-container{
    display: block;
    width: 100%;
    
}

.container{
    padding: 20px;
    width: 100%;
    display: block;
    float: left;
    margin: 0 auto;
}

header{
    display: block;
    float: left;
    padding: 2px;
    width: 100%;
    border-bottom: 1px solid #FFA07A;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

section{
    display: block;
    float: left;
    font-size: 1.5rem;
    padding: 20px;
    width: 30%;

}

nav{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.logo {
    width: 250px;
    cursor: pointer;
    height: 260px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    height: 100px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: #FFBF9C;
}

.main-container a{
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    color: #2F4125;
    align-items: center;
    padding: 1.5rem;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #000212;
    padding: 1.5rem;


}

article p{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    padding: 1.5rem;
    margin-bottom: 10px;
    line-height: 1.4rem;

}

section {
    display: block;
    float: left;
    font-size: 1.5rem;
    padding: 20px;
    width: 100%;
}

section article{
    display: block;
    float: left;
    width: 70%;

}

nav li {
    margin: 5px 20px 5px 0;
    padding: 10px;
}

footer{
    background-color: #000212;
    color: white;
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
}

footer p {
    color: beige;
    font-size: 1.6rem;
}

footer small {
    font-size: 140%;
    display: block;
}
.cog-abuse {
    visibility: hidden !important;
}

.cog-branding--minimal span{
    visibility: hidden !important;
}